{% extends 'dashboard/index.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block heading %}
  Pending Activations
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb 'Pending Activations' 'approvals:index' %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-5">
    <h3 class="mb-4">Prospective New Members</h3>
    <div class="card">
      <div class="card-header">Registrations</div>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" href="{% url 'approvals:registration_pending_keyfob_list' %}">
          Waiting for Keyfob Codes <span class="badge badge-primary">{{ registrations.pending_keyfobs.count }} applicants</span>
        </a>
        <a class="list-group-item list-group-item-action" href="{% url 'approvals:registration_pending_invite_list' %}">
          Waiting for Final Approval <span class="badge badge-primary">{{ registrations.pending_approval.count }} applicants</span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-5 offset-md-2">
    <h3 class="mb-4">Prospective Returning Members</h3>
    <div class="card">
      <div class="card-header">Renewals</div>
      <div class="card-body">
        <p>Stephen is working as fast as he can to get this running.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
