{% extends 'dashboard/base.html' %}

{% block heading %}
  Pending Activations
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <p>These people wish to join Twin Cities Maker.</p>

    <ul>
    {% for signup in signups %}
        <li><a href="{%url 'approvals:approval_membership_detail' pk=signup.id %}">{{ signup }}</a></li>
    {% empty %}
        <li><em>You made it through the entire list of pending signups. You deserve a beer!</em></li>
    {% endfor %}
    </ul>
  </div>

  <div class="col-md-4 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h5>Volunteer Resources</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="">Paper forms</a></li>
        <li class="list-group-item"><a href="">Official Policies</a></li>
        <li class="list-group-item"><a href="http://civicrm.vandahm.com/">CRM</a></li>
        <li class="list-group-item"><a href="https://membership.vandahm.com/">Membership System</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
