{% extends 'approvals/registration_pending_keyfob_list.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb registration 'approvals:registration_pending_keyfob_detail' pk=registration.id %}
{% endblock %}

{% block heading %}
  {{ registration }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h3>{{ signup }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mb-4">
    <div class="card">
      <div class="card-header">
        <h5>Basic Information</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h6>Name:</h6>
          {{ registration }}
        </li>
        <li class="list-group-item">
          <h6>Email:</h6>
          {{ registration.email }}
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-6 mb-4">
    <div class="card">
      <div class="card-header">
        <h5>Contact Information</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h6>Phone:</h6>
          {{ registration.phone_number }}
        </li>

        <li class="list-group-item">
          <h6>Address:</h6>
          {{ registration.address_lines | join:"<br>" }}
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mb-4">
    <div class="card">
      <div class="card-header">
        <h5>External Identifiers</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h6>CiviCRM Contact ID:</h6>
          <code>{{ registration.civicrm_identifier }}</code>
        </li>

        <li class="list-group-item">
          <h6>Stripe Customer ID:</h6>
          <code>{{ registration.stripe_identifier }}</code>
        </li>
      </ul>
    </div> <!-- card -->
  </div> <!-- col -->
  <div class="col-md-6 mb-4">
    <div class="card">
      <div class="card-header">
        <h5>Legal</h5>
      </div>
      <div class="card-body">
        <p>This section will make more sense when we add support for parental consent forms.</p>
      </div>
    </div>
  </div>
</div>

<h4>Choose {{ registration.given_name}}'s Fate!</h4>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
            <a href="{% url 'approvals:registration_pending_keyfob_form' pk=registration.id %}" class="btn btn-primary">Approve</a>
          </div>
          <div class="col-sm-2">
            <a href="{% url 'approvals:index' %}" class="btn btn-outline-secondary">Do nothing</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
