{% extends 'approvals/registration_pending_invite_detail.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb 'Approve Member' 'approvals:registration_pending_invite_form' pk=registration.id %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Approve Membership</div>
      <div class="card-body">
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form | crispy }}
          <div class="form-group">
            <input type="submit" value="Assign Code" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
