[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-phonenumber-field = "==3.0.1"
phonenumbers = "==8.10.21"
django-localflavor = "==2.2"
django-model-utils = "==3.2.0"
psycopg2 = "==2.8.3"
django-crispy-forms = "==1.8.0"
stripe = "==2.37.2"
django-heroku = "==0.3.1"
gunicorn = "==19.9.0"
django-bootstrap-breadcrumbs = "==0.9.1"
docutils = "*"
requests = "*"
django = "*"
django-extensions = "*"
boto3 = "*"
mozilla-django-oidc = "*"
django-sslserver = "*"
django-storages = "*"
django-pipeline = "*"
django-ses = "*"
factory-boy = "*"
django-csp = "*"
django-compressor = "*"
django-libsass = "*"
