{% extends 'dashboard/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Approve New Invitation{% endblock %}
{% block heading %}Approve New Invitation{% endblock %}

{% block content %}
<form method="post" novalidate>
  {% csrf_token %}
  {{ form | crispy }}
  <div class="form-group">
    <input type="submit" value="Approve!" class="btn btn-primary">
    <a href="{%url 'signup:approval_membership_detail' pk=invite.id %}" class="btn btn-outline-secondary">Cancel</a>
  </div>
</form>
{% endblock %}
