{% extends 'kiosk/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Contact Information{% endblock %}
{% block header_text %}Contact Information{% endblock %}

{% block content %}
<p>
  Next, we'll need your contact information, so that we'll be able to get in
  touch with you. And we'll need an emergency contact, just in case.
</p>
<form method="post" novalidate>
  {% csrf_token %}
  {{ form | crispy }}
  <div class="form-group">
    <input type="submit" value="Next" class="btn btn-primary">
  </div>
</form>
{% endblock %}
