{% extends 'accounts/onboarding/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Set Your Password{% endblock %}

{% block header_text %}Set Your Password{% endblock %}

{% block content %}
<p>
  Your password will be encrypted and stored offsite on a <em>very</em> secure
  server. No one from Twin Cities Maker will ever see your password or have
  any way of knowing what it is!
</p>

<form method="post" novalidate>
  {% csrf_token %}
  {{ form | crispy }}
  <div class="form-group">
    <input type="submit" value="Next" class="btn btn-primary">
  </div>
</form>
{% endblock %}
