{% extends 'accounts/index.html' %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Change Your Password{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb 'Change Your Password' 'accounts:change_password' %}
{% endblock %}

{% block header_text %}Change Your Password{% endblock %}

{% block content %}
<form method="post" novalidate>
  {% csrf_token %}
  {{ form | crispy }}
  <div class="form-group">
    <input type="submit" value="Use This Password" class="btn btn-primary">
  </div>
</form>
{% endblock %}
