{% extends 'dashboard/index.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Your Dashboard Account{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb 'Accounts' 'accounts:index' %}
{% endblock %}

{% block heading %}
  Your Dashboard Account
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Coming Soon</h5>
          <p>Before long, you'll be able to update your name,
	           contact information, and communication preferences
	            here. Until that day comes, however, all you can
	             do here is change your password.
          </p>
      </div>
    </div>
    <a class="btn btn-primary" href="{% url 'accounts:change_password' %}">Wow, let's do that!</a>
</div>
</div>

{% endblock %}
