{% extends 'dashboard/index.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Dues{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb 'Dues' 'renew:index' %}
{% endblock %}

{% block heading %}
  Pay Dues
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Pay Dues</h5>
          <p>
            Follow this link below to pay your dues.
          </p>
          <a class="btn btn-primary" href="{{ renewal_url }}">Pay Dues</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
