{% extends 'dashboard/index.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Membership Renewal{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb 'Membership Renewal' 'renew:index' %}
{% endblock %}

{% block heading %}
  Renew Your Membership
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Renew Your Membership!</h5>
          <p>
            Follow this link below to renew your membership.
          </p>
      </div>
    </div>
    <a class="btn btn-primary" href="{{ renewal_url }}">Wow, let's do that!</a>
  </div>
</div>
{% endblock %}
