{% extends 'signup/base.html' %}

{% block title %}Email Confirmation Notice{% endblock %}

{% block header_text %}Confirm Your Email Address{% endblock %}

{% block content %}
  <p>
    Before we can start using your new email address, we have to verify
    that you own it and that you typed it correctly into the form. To do
    this, we sent a verification to your new email address,
    <strong>{{ request.user.pending_email }}</strong>. When you receive it,
    just click on the link in the email, and you'll be good to go.
  </p>

  <p>
    We hate to make you jump through hoops like this, but in this case we're
    required to do it. Sorry!
  </p>

  <a href="/profile" class="btn btn-lg btn-primary">OK</a>
{% endblock %}
