{% extends 'dashboard/index.html' %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block heading %}
  {{ request.user.first_name }}'s Profile
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb 'Profile' 'profile:index' %}
{% endblock %}

{% block content %}
<h3>Basic Information</h3>
<div class="row">
  <div class="col-md-5">
    <div class="card mb-4">
      <div class="card-header">Basic Information</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>First Name:</strong> {{ request.user.first_name }}</li>
        <li class="list-group-item"><strong>Last Name:</strong> {{ request.user.last_name }}</li>
        <li class="list-group-item"><strong>Email:</strong> {{ request.user.email }}</li>
      </ul>
      <div class="card-body">
        <a href="/profile/basic/" class="card-link">Update</a>
      </div>
    </div>
  </div>

  <div class="col-md-5 offset-md-1">
    <div class="card mb-4">
      <div class="card-header">Address</div>
      <div class="card-body">
        <p>
        {{ address.street_address }}<br>
        {% if address.supplemental_address_1 %}
        {{ address.supplemental_address_1 }}<br>
        {% endif %}
        {{ address.city }}, {{ state_province_abbreviation }} {{ address.postal_code }}
        </p>
        <a href="/profile/address/" class="card-link">Update</a>
      </div>
    </div>
  </div>
</div>

<h3>Contact Information</h3>
<div class="row">
  <div class="col-md-5">
    <div class="card mb-4">
      <div class="card-header">Phone</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Phone Number:</strong> {{ phone.phone }}</li>
        <li class="list-group-item"><strong>Can Receive SMS:</strong>
          {% if phone.phone_type_id == '2' %}
            yes
          {% else %}
            no
          {% endif %}
        </li>
      </ul>
      <div class="card-body">
        <a href="/profile/phone/" class="card-link">Update</a>
      </div>
    </div>
  </div>

  <div class="col-md-5 offset-md-1">
    <div class="card mb-4">
      <div class="card-header">Emergency Contact</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Name:</strong>
          {% if emergency_contact_info.name %}
            {{ emergency_contact_info.name }}
          {% else %}
            <em>none</em>
          {% endif %}
        </li>
        <li class="list-group-item"><strong>Phone:</strong>
          {% if emergency_contact_info.phone %}
            {{ emergency_contact_info.phone }}
          {% else %}
            <em>none</em>
          {% endif %}
        </li>
      </ul>
      <div class="card-body">
        <a href="/profile/emergency_contact/" class="card-link">Update</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
