{% load static %}
{% load django_bootstrap_breadcrumbs %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static "css/simplex-theme.css" %}">
  <link rel="stylesheet" href="{% static "css/landing.css" %}">

  <!-- FullCalendar -->
  <!-- <link rel="stylesheet" href="{% static "fullcalendar/packages/core/main.css" %}" />
  <link rel="stylesheet" href="{% static "fullcalendar/packages/daygrid/main.css" %}"  />
  <link rel="stylesheet" href="{% static "fullcalendar/packages/timegrid/main.css" %}"  />
  <link rel="stylesheet" href="{% static "fullcalendar/packages/list/main.css" %}"  /> -->

  <title>{% block title %}Clubhouse{% endblock %} -- Twin Cities Maker</title>
</head>
<body>
  <nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" href="https://tcmaker.org/" aria-label="Product">
        <img style="min-height: 2rem;" src={% static "img/logo-white-text.svg" %} alt="Twin Cities Maker Logo" />
      </a>

      <a class="py-2 d-none d-md-inline-block" href="https://tcmaker.org/"></a>
      <a class="py-2 d-none d-md-inline-block" href="https://tcmaker.org/about-us/">About</a>
      <a class="py-2 d-none d-md-inline-block" href="https://tcmaker.org/news/2020/05/shop-reopening/">COVID-19 Policies</a>
      <a class="py-2 d-none d-md-inline-block" href="https://wiki.tcmaker.org/">Wiki</a>
      <a class="py-2 d-none d-md-inline-block" href="https://tcmaker.org/">Home Page</a>
    </div>
  </nav>

  <div id="foo" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal text-light">Clubhouse</h1>
      <p class="lead font-weight-normal text-light">Twin Cities Maker's Member Dashboard</p>
      <a class="btn btn-outline-primary" href="/dashboard">Sign In</a>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <!-- SUB 1 -->
    <div class="bg-danger mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Twin Cities Maker</h2>
        <p class="lead">Welcome to Our Makerspace a place for all Kinds</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>

    <!-- SUB 2 -->
    <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Have Questions</h2>
        <p class="lead">Check out the Wiki, our FAQ, or ask the Community on Slack</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

<!-- FOOTER -->
<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md text-center">
      <a href="https://tcmaker.org/">
        <img class="mb-2" style="max-height: 3rem;" src="{% static 'img/logo-red.svg' %}" alt="Twin Cities Maker Logo">
      </a>
      <small class="d-block mb-3 text-muted">&copy; 2009&ndash;{% now "Y" %}</small>
    </div>
    <div class="col-6 col-md">
      <h5>Our Location</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://www.openstreetmap.org/?mlat=44.95527&mlon=-93.22635#map=19/44.95527/-93.22635">Our Location</a></li>
        <li><a class="text-muted" href="https://www.openstreetmap.org/?mlat=44.95527&mlon=-93.22635#map=19/44.95527/-93.22635">3119 E. 26th Street
          Minneapolis, MN 55406</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Follow Us</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://tcmaker.eventbrite.com/">EventBrite</a></li>
        <li><a class="text-muted" href="https://www.facebook.com/groups/85060647690/">Facebook</a></li>
        <li><a class="text-muted" href="https://github.com/tcmaker">GitHub</a>
        <li><a class="text-muted" href="https://twitter.com/tcmaker">Twitter</a></li>
        <li><a class="text-muted" href="https://webchat.freenode.net/?channels=%23tcmaker&amp;uio=d4">Freenode IRC</a></li>
        <li><a class="text-muted" href="https://tcmaker.slack.com/">Slack</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Footer Category</h5>
      <p><img src="https://tcmaker.org/wp-content/themes/tcmaker-theme/assets/img/logo-white-text.svg"></p>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://apps.irs.gov/app/eos/displayAll.do?dispatchMethod=displayAllInfo&amp;Id=666012&amp;ein=271536940&amp;country=US&amp;deductibility=all&amp;dispatchMethod=searchAll&amp;isDescending=false&amp;city=&amp;ein1=27-1536940&amp;postDateFrom=&amp;exemptTypeCode=al&amp;submitName=Search&amp;sortColumn=orgName&amp;totalResults=1&amp;names=&amp;resultsPerPage=25&amp;indexOfFirstRow=0&amp;postDateTo=&amp;state=All+States">Ite501(c)(3) IRS Tax Status Information</a></li>
        <li><a class="text-muted" href="https://mblsportal.sos.state.mn.us/Business/SearchDetails?filingGuid=7e9eccc8-94d4-e011-a886-001ec94ffe7f"> MN Secretary of State Filings</a></li>
        <li><a class="text-muted" href="https://www.ag.state.mn.us/Charity/Search/CHR_GeneralInfo.asp?FederalID=271536940&amp;Yr=CURR&amp;cmdSearch=View"> MN Attorney General Charity Search</a></li>
        <li><a class="text-muted" a href="https://www.guidestar.org/profile/27-1536940">GuideStar Page</a></li>
      </ul>
    </div>
  </div>
</footer>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  {% block javascript %}{% endblock %}
</body>
</html>
