{% load static %}
{% load django_bootstrap_breadcrumbs %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="{% static "css/simplex5-theme.css" %}">
  <link rel="stylesheet" href= "{% static "css/dashboard.css" %}">

  <!-- FullCalendar -->
  <link rel="stylesheet" href="{% static "fontawesome/css/all.css" %}" />
  <link rel="stylesheet" href="{% static "fullcalendar/packages/core/main.css" %}" />
  <link rel="stylesheet" href="{% static "fullcalendar/packages/daygrid/main.css" %}"  />
  <link rel="stylesheet" href="{% static "fullcalendar/packages/timegrid/main.css" %}"  />
  <link rel="stylesheet" href="{% static "fullcalendar/packages/list/main.css" %}"  />
  <link rel='stylesheet' href="{% static "fullcalendar/packages/bootstrap/main.min.css" %}" />

  <style>
    .fa::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
    .fa-clock-o::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f017";
    }

  </style>

  <title>{% block title %}Clubhouse{% endblock %} -- Twin Cities Maker</title>
</head>
<body>
<!-- Top Navigation -->

<div class="bg-dark text-light fixed-top" style="height:3.5rem;">
  <div class="container-fluid d-flex flex-row justify-content-between">
    <button class="btn btn-primary mb-2 mt-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      Menu
    </button>

    <div class="d-none d-md-block">
      <a href="/dashboard">
        <img class="mt-2" src="{% static 'img/logo-white-text.svg' %}" style="height: 2.25rem;" alt="Return to Home"/>
      </a>
    </div>

    <div class="dropdown">
      <button class="mt-2 btn btn-block btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        {{ request.user }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="{% url 'profile:index' %}">Your Profile</a></li>
        <li><a class="dropdown-item" href="{% url 'accounts:change_password' %}">Change Password</a></li>
        <hr class="dropdown-divider">
        <li><a class="dropdown-item" href="{% url 'accounts:signout' %}">Logout</a></li>
      </ul>
    </div>

  </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <div style="width: 10rem;">
      <img src={% static "img/logo-red-text.svg" %} />
    </div>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <h5 class="offcanvas-title mb-4" id="offcanvasExampleLabel">Navigation</h5>
    <nav>
        <h6>Accounts</h6>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" href="{% url 'accounts:change_password' %}"><i class="fas fa-user-edit"></i> Change Password</a></li>
        </ul>

        <h6>Consumables</h6>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" href="{% url 'consumables:product_list' %}"><i class="fas fa-cash-register"></i> Pay for Consumables</a></li>
        </ul>

      	<h6>Membership and Dues</h6>
      	<ul class="nav flex-column">
      	  <li class="nav-item"><a class="nav-link" href="{% url 'billing:index' %}"><i class="fas fa-credit-card"></i> Pay Dues</a></li>
          <li class="nav-item"><a class="nav-link" href="https://go.tcmaker.org/handbook"><i class="fas fa-atlas"></i> Member Handbook</a></li>
          <li class="nav-item"><a class="nav-link" href="https://go.tcmaker.org/slack"><i class="fab fa-slack"></i> Join our Slack Team</a></li>
        </ul>

        <h6>Timeslots</h6>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" href="{% url 'timeslots:reservation_list' %}"><i class="fas fa-clock"></i> Reservations</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'timeslots:index' %}"><i class="fas fa-calendar-alt"></i> Timeslots</a></li>
        </ul>

        <h6>Workshop</h6>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" href="{% url 'workshop:department_list' %}"><i class="fas fa-hammer"></i> Departments</a></li>
          <li class="nav-item"><a class="nav-link" href="https://drive.google.com/drive/folders/1MOVQ0H2otNw__HPZAIrB4gUl0xfv6MpG?usp=sharing"><i class="fas fa-book-open"></i> Tool Manuals</a></li>
        </ul>

        {% if request.user.is_staff %}
          <h6>Administrative</h6>
          <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="/admin/"><i class="fas fa-tools"></i> Admin Panel</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'approvals:index' %}"><i class="fas fa-check"></i> Signup Approvals</a></li>
          </ul>
        {% endif %}
    </nav>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-10 offset-md-1">
    <!-- <div class="row">
        <div class="col-md-6 mt-2">
          <img src="{% static 'img/logo-red-text.svg' %}" style="max-height: 2.5rem;"/>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-12 mt-2">
          <h2 class="mb-2 mt-4">{% block heading %}Dashboard{% endblock %}</h2>
          {% block breadcrumbs %}
            {% clear_breadcrumbs %}
            {% breadcrumb "Home" 'dashboard:index' %}
          {% endblock %}
          {% block breadcrumb_content %}
            {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
          {% endblock %}
        </div>
      </div>
      {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}
        This is the content block. Extend it to add your content.
      {% endblock %}
    </main>
  </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

{% block javascript %}{% endblock %}
</body>
</html>
