{% extends 'dashboard/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-6 mb-4">
    <div class="card">
      <div class="card-header">
        <h5>Your Profile</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h6>Name:</h6>
          {{ request.user }}
        </li>
        <li class="list-group-item">
          <h6>Address:</h6>
          {{ member.address_lines | join:"<br>" }}
        <li class="list-group-item">
          <h6>Username:</h6>
          {{ request.user.username }}
        </li>
        <li class="list-group-item text-right">
          <small><a href="#">Update Profile</a></small>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-6 mb-4">
    {% if household %}
      <div class="card">
        <div class="card-header">
          <h5>Your Membership</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Dues Plan:</strong> {{ household.dues_plan.name }}
          </li>
          <li class="list-group-item">
            <strong>Paid Through:</strong> {{ household.valid_through }}
          </li>
        </ul>
      </div>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-md-6 mb-4">
    <div class="card">
      <div class="card-header">
        <h5>Member Storage</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Cubby:</strong> {{ cubby }}</li>
        <li class="list-group-item"><strong>Green Tags:</strong> {{ green_tags.count }}</li>
        <li class="list-group-item {{ red_tags.count|yesno:"list-group-item-danger," }}"><strong>Red Tags:</strong> {{ red_tags.count }}</li>
        <li class="list-group-item text-right"><small><a href="">Manage your stored items</a></small></li>
      </ul>
    </div>
  </div>

  <div class="col-md-6 mb-4">
    <div class="card">
      <div class="card-header">
        <h5>Endorsements</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">

        </li>
        <li class="list-group-item text-right"><small><a href="">Learn about endorsements</a></small></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
