{% extends 'dashboard/base.html' %}

{% block heading %}TC Maker Member Dashboard{% endblock %}

<div class="row">
  <div class="col-md-6">
</div>

{% block content %}
<div class="row">
  <div class="col-md-7">
    <div class="card mb-4">
      <div class="card-header"><h4>Welcome </h4></div>
      <div class="card-body">
        <p>
          This is the new Twin Cities Maker member dashboard. In time, you
          will be able to manage your dues and contact information, report
          broken tools, and meet all of your other bureaucratic needs. For the
          time being, however, we're using it to gradually re-open the shop.
        </p>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">Your Upcoming Reservations</div>
        {% if request.user.reservation_set.upcoming %}
          <ul class="list-group list-group-flush">
            {% for reservation in request.user.reservation_set.upcoming %}
              <li class="list-group-item">
                <a href="/timeslots/reservations/{{ reservation.id }}">{{ reservation.timeslot.area.name }}:
                  {{ reservation.timeslot.start_time }}</a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <div class="card-body">
            <p><em>You haven't reserved any timeslots yet. It's not too late to
            <a href="/timeslots/">do something about that</a>!</em></p>
          </div>
        {% endif %}
        <div class="card-body">
          <a class="btn btn-primary" href="/timeslots">Reserve timeslots</a>
        </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">Membership & Dues</div>
      <div class="card-body">
        <p>
          Follow this link to pay your Membership Dues.
        </p>
        <a class="btn btn-primary" href="/renew">Pay Dues</a>
      </div>
      </div>
    <div class="card mb-4">
      <div class="card-header">Membership Handbook & Member Resources</div>
      <div class="card-body">
        <p>
            Whether your just getting started or an old hand we have resources to help you on your quest to learn and make things.
        </p>
        <a class="btn btn-primary" href="https://go.tcmaker.org/handbook">Member Handbook</a>
      </div>
    </div>
  </div>

  <div class="col-md-3 offset-md-1">
    <!-- empty for now -->
  </div>
</div>
{% endblock %}
