{% extends 'dashboard/base.html' %}

{% block heading %}TC Maker Member Dashboard{% endblock %}

<div class="row">
  <div class="col-md-6">
</div>

{% block content %}
<div class="row">
  <div class="col-md-7">
    <div class="card mb-4">
      <div class="card-header">Welcome</div>
      <div class="card-body">
        <p>
          This is the new Twin Cities Maker member dashboard. In time, you
          will be able to manage your dues and contact information, report
          broken tools, and meet all of your other bureaucratic needs. For the
          time being, however, we're using it to gradually re-open the shop.
        </p>
        <a class="btn btn-primary" href="/timeslots">Reserve timeslots</a>
      </div>
    </div>

    <h4>Your Upcoming Reservations</h4>
    <ul>
      {% for reservation in request.user.reservation_set.upcoming %}
        <li><a href="/timeslots/reservations/{{ reservation.id }}">{{ reservation.timeslot.area.name }}: {{ reservation.timeslot.start_time }}</a></li>

      {% empty %}
        <div class="alert alert-secondary">
          <em>You haven't reserved any timeslots yet. It's not too late to
          <a href="/timeslots/">do something about that</a>!</em>
        </div>
      {% endfor %}
    </div>
  </ul>
  <div class="col-md-3 offset-md-1">
    <div class="card bg-info text-white mb-4">
      <div class="card-header">The New Plan</div>
      <div class="card-body">
        <h5 class="card-title">How This Works</h5>
        <p>
          Until things settle down, you'll be able to reserve <strong>one time slot</strong>
          per day, during which you will be able to work in a single area of
          the shop. Each timeslot is <strong>two hours long</strong>. At the start of your
          timeslot, your keyfob will be automatically activated, and you'll be able to enter
          and the shop as normal. At the end of your timeslot, however, we'll lock
          your keyfob until your next timeslot begins.
        </p>

        <p>
          Please take the time to read our emergency rules, and don't hesitate
          to contact us with your questions and concerns.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
