{% extends 'billing/index.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Change Dues Plan{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb 'Change Dues Plan' 'billing:subscription_form' %}
{% endblock %}

{% block heading %}
  Change Dues Plan
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <ul id="plan_selector_list" class="list-group list-group-flush">
        <li class="list-group-item" data-enum="{{ form.AUTOPAY_BILLING }}">
          <div class="fw-bold">Autopay Billing</div>
          <p>We will automatically bill your credit card when it is time to pay your dues.</p>
        </li>
        <li class="list-group-item" data-enum="{{ form.INVOICE_BILLING }}">
          <div class="fw-bold">Invoice Billing</div>
          <p>We will email you an invoice when it is time to pay your dues. You will be responsible for paying it before it is due.</p>
        </li>
      </ul>
      <div class="card-body">
        <form id="plan_selector_form" method="POST">
          {% csrf_token %}
          <input id="payment_strategy_field" type="hidden" value="{{ form.payment_strategy.value|default_if_none:'' }}" name="payment_strategy" />
          <input type="submit" value="Next" class="btn btn-primary" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
$(function() {
  $('#plan_selector_list>li').on("click", function(e) {
    $('#plan_selector_list>li').each(function() {
      $(this).removeClass('active');
    });
    $(this).addClass('active');
    $('#payment_strategy_field').val($(this).data('enum'));
  });

  $('#plan_selector_list>li').each(function() {
    if ($(this).data("enum") === $('#payment_strategy_field').val()) {
      $(this).click();
    }
  });
});
</script>
{% endblock %}
