{% extends 'billing/index.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load static %}

{% block title %}Update Subscription{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb 'Update Subscription' 'billing:card_form' %}
{% endblock %}

{% block heading %}
  Update Subscription
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <form id="card_entry_form" method="POST" data-stripe-publishable-key="{{ STRIPE_PUBLISHABLE_KEY }}" class="mb-4">
          {% csrf_token %}
          <h5>Enter Credit Card</h5>
          <div class="card mb-4">
            <div class="card-body">
              <div id="card-element"></div>
              <div id="card-errors" role="alert"></div>
            </div>
          </div>
          <h5>Choose Payment Plan</h5>
          <div class="card mb-4">
            <ul id="plan_selector_list" class="list-group list-group-flush">
              <li class="list-group-item" data-enum="{{ form.ONE_MONTH_PLAN }}">
                <div class="fw-bold">Monthly Plan</div>
                <p>Pay $55.00 per month</p>
              </li>
              <li class="list-group-item" data-enum="{{ form.SIX_MONTH_PLAN }}">
                <div class="fw-bold">Six-Month Plan</div>
                <p>Pay $275 every six months.</p>
              </li>
              <li class="list-group-item" data-enum="{{ form.TWELVE_MONTH_PLAN }}">
                <div class="fw-bold">12-Month Plan</div>
                <p>Pay $550 every 12 months.</p>
              </li>
            </ul>
          </div>
          <input id="plan_field" type="hidden" value="{{ form.plan.value|default_if_none:'' }}" name="plan" />
          <input type="submit" value="Bill My Card Every Month" class="btn btn-primary">
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <small><a class="link-dark" href="/billing/enroll/invoice/">Pay manually each month</a></small>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'js/stripe.js' %}"></script>

  <script>
  $(function() {
    $('#plan_selector_list>li').on("click", function(e) {
      $('#plan_selector_list>li').each(function() {
        $(this).removeClass('active');
      });
      $(this).addClass('active');
      $('#plan_field').val($(this).data('enum'));
    });

    $('#plan_selector_list>li').each(function() {
      if ($(this).data("enum") === $('#plan_field').val()) {
        $(this).click();
      }
    });
  });
  </script>
{% endblock %}
