{% extends 'dashboard/index.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load mathfilters %}

{% block title %}Billing{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb 'Billing' 'billing:index' %}
{% endblock %}

{% block heading %}
  Billing
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

{% if payment_method %}
  <h3>Your Credit Card</h3>
  <div class="card">
    <div class="card-body">
      card info here
      <a class="btn btn-primary" href="">Update Card</a>
    </div>
  </div>
{% endif %}

{% if household %}
  <h3>Your Household Membership</h3>
  <div class="card mb-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Name:</strong> {{ household.name }}
      <li class="list-group-item">
        {% if household.contact.url == request.user.membership_person_record %}
          <strong>Contact:</strong>
          You!
        {% else %}
          {{ household.contact.given_name }}
          {{ household.contact.family_name }}
          (<a href="mailto:{{ household.contact.email }}"><code>{{ household.contact.email }}</code></a>)
        {% endif %}
      <li class="list-group-item"><strong>Status:</strong> {{ household.status }}</li>
      <li class="list-group-item"><strong>Membership Valid Through:</strong> {{ household.valid_through }}</li>
      {% if household.contact.url == request.user.membership_person_record %}
        <li class="list-group-item"><strong>Dues Schedule:</strong>
          ${{ household.stripe_subscription.price.unit_amount|intdiv:100 }}
          every {{ household.stripe_subscription.price.recurring.interval_count }}
          {{ household.stripe_subscription.price.recurring.interval }}s
        </li>
        <li class="list-group-item"><strong>Collection Method:</strong>
          {% if household.auto_renew %}
            We automatically bill your credit card.
          {% else %}
            We send you an invoice each month.
          {% endif %}
        </li>
      {% endif %}
    </ul>
    {% if household.contact.url == request.user.membership_person_record and False %}
      <div class="card-body">
        <a href="/billing/households/{{ household.uuid }}/" class="btn btn-primary">View and Edit</a>
      </div>
    {% endif %}
  </div>
{% endif %}

{% if household.contact.url == request.user.membership_person_record and household.external_subscription_identifier != '54321' %}
  <a class="btn btn-primary" href="/billing/enroll/">Migrate to New Billing System</a>
{% endif %}

{% if student_team %}
<h3>Your Team Membership</h3>
<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">{{ student_team.name }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Status:</strong> {{ student_team.status }}</li>
    <li class="list-group-item"><strong>Membership Valid Through:</strong> {{ student_team.valid_through }}</li>
  </ul>
</div>
{% endif %}

{% if person.administered_households %}
  <div class="card mb-4">
    <div class="card-header">Households You Administer</div>
    <ul class="list-group list-group-flush">
      {% for household in person.administered_households %}
        <li class="list-group-item"><a href="/billing/households/{{ household.uuid }}/">{{ household.name }}</a></li>
      {% endfor %}
  </div>
{% endif %}

{% endblock %}
