{% extends 'dashboard/index.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Consumables{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb 'Consumables' 'consumables:product_list' %}
{% endblock %}

{% block heading %}
  Pay for Consumables
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="d-flex flex-wrap justify-content-between">
      {% for product in products %}
        <div class="card mb-4" style="width:18rem;">
          {% if product.image %}
            <img class="card-img-top" src="{{ product.image.url }}" alt="picture of {{ product.name }}">
          {% endif %}
        <div class="card-body">
          <h5 class="card-title">
            {{ product.name }}
          </h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text"><strong>Price:</strong> ${{ product.get_price|floatformat:2 }} per {{ product.unit_label }}</p>
          <a class="btn btn-primary" href="/consumables/products/{{ product.id }}/">Details</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
