{% extends 'consumables/product_list.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{{ product.name }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb product.name 'consumables:product_detail' %}
{% endblock %}

{% block heading %}
  {{ product.name }}
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="card mb-4">
      {% if product.image %}
        <img class="card-img-top" src="{{ product.image.url }}" alt="picture of {{ product.name }}">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">
          {{ product.name }}
        </h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text"><strong>Price:</strong> ${{ product.get_price|floatformat:2 }} per {{ product.unit_label }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h3>Donate!</h3>
    <p>
      {{ product.name }} costs {{ product.get_price|floatformat:2 }} per {{ product.unit_label }}.
    </p>
    <form method="post" id="checkout_form" action="/consumables/products/{{ product.id }}/checkout/" novalidate>
      {% csrf_token %}
      {{ form | crispy }}
      <div class="form-group">
        <input type="submit" value="Pay for {{ product.name }}" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>
<script>
  var stripe = Stripe("{{ stripe_publishable_key|safe }}");
  var form = document.getElementById('checkout_form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();

    fetch('/consumables/products/{{ product.id }}/generate_stripe_session/', {
      method: 'POST',
      // body: JSON.stringify({
      //   quantity: 1
      // })
      body: new FormData(form)
    })
      .then(function (response) {
        return response.json();
      })
       .then(function (session) {
         return stripe.redirectToCheckout({ sessionId: session.id });
       })
       .then(function (result) {
         // If redirectToCheckout fails due to a browser or network
         // error, you should display the localized error message to your
         // customer using error.message.
         if (result.error) {
           alert(result.error.message);
         }
       })
     .catch(function (error) {
       console.error("Error:", error);
     });
  });
</script>
{% endblock %}
