{% extends 'dashboard/index.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}COVID-19 Timeslots{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb 'Timeslots' 'timeslots:index' %}
{% endblock %}

{% block heading %}
  Register for Timeslots
{% endblock %}

{% block content %}

<h3>Shop Areas</h3>
<p class="mb-4">
  The following areas of the workshop are beginning to re-open.
</p>

{% for area in areas %}
  <div class="card mb-4">
    <div class="card-header">
      <h5>{{ area.name }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Manager:</strong> {{ area.area_manager.first_name }} {{ area.area_manager.last_name }}</li>
      <li class="list-group-item"><strong>Contact Email:</strong> <a href="mailto:{{ area.shop_contact_email }}"><code>{{ area.shop_contact_email }}</code></a></li>
      <li class="list-group-item"><strong>Capacity:</strong> {{ area.covid19_capacity }} members at once</li>
    </ul>
    <div class="card-body">
      <a href="/timeslots/{{ area.id }}/" class="card-link">See Openings</a>
    </div>
  </div>
{% endfor %}

{% endblock %}
