{% extends 'timeslots/timeslot_detail.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Reservation" 'timeslots:reservation_form' area_id=area.id slug=timeslot.slug %}
{% endblock %}
{% load crispy_forms_tags %}

{% block heading %}
  Reserve a Timeslot
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-6 mb-4">
    <h4>One Last Thing</h4>
    <p>
      Before you do this, <em>please</em> read the new rules.
    </p>

    <div class="card bg-light">
      <div class="card-body">
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form | crispy }}
        <div class="form-group">
          <input type="submit" value="Make Reservation" class="btn btn-primary">
        </div>
      </form>
      </div>
    </div>

  </div>
  <div class="col-md-6 mb-4">
    <div class="alert alert-info" role="alert">
      <h4>{{ area.name }} COVID-19 Policies</h4>
      <p>
        Until we determine it is safe, only {{ area.covid19_capacity }}
        pe{{ area.covid19_capacity|pluralize:"rson is,ople are" }} allowed to
        work in the {{ area.name }} at any given time.
      </p>
      <h5>WHEN IN THE SHOP: </h5>
      <p>
        <ul>
          <li><h6>Wear a Mask</h6></li>
            <li>Face coverings of any type are recommended to prevent the spread of germs and to help keep others safe. They are especially recommended when social distancing cannot be adequately maintained. </li>
          <li><h6>Wash Your Hands</h6></li>
            <li>Please wash your hands frequently. Sanitize them as you move around the shop with the hand sanitizer located throughout the shop. </li>
          <li><h6>Sanitize</h6></li>
            <li>Wipe down the part of equipment that gets touched (handles, buttons) before and after use. If the equipment is delicate, please use the correct  cleaning agent.</li>
            <li>Please only spray cleaner onto a paper-towel and then wipe down handles / buttons. DO NOT spray cleaner onto the equipment. This can damage motors and electrical components.</li>
          <li><h6>Please limit your work to the area that you have signed up for.</h6></li>
            <li>Obviously people will need to do things like use the restroom, wash their hands, or grab a few items from storage; however, please avoid working in other areas.</li>
          <li><h6>Posted Directions</h6></li>
          <li>Please take the time to read and follow signs which will give more specific instructions in each department. </li>
          <li><h6>Please follow the Health Departments recommendations https://www.health.state.mn.us/diseases/coronavirus/prevention.html and remain at least six feet away from other people at all times</h6></li>
        </ul>
      </p>
    </div>
  </div>
</div>
{% endblock %}
