{% extends 'timeslots/area_calendar.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb timeslot.start_time|date:"F j, Y: g:i a" 'timeslots:timeslot_detail' area_id=area.id slug=timeslot.slug %}
{% endblock %}


{% block heading %}
  {{ timeslot.start_time|date:"F j, Y: g:i a"}} &ndash; {{ timeslot.end_time|date:"g:i a" }}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-6 mb-4">
    {% if timeslot.has_capacity and not timeslot_has_passed %}
      <div class="card bg-light mb-4">
        <div class="card-header">Timeslot</div>
        <div class="card-body">
          <h5 class="card-title">Hurray!</h5>
          <p>This timeslot has openings. Would you like to reserve it?</p>
          <div class="row">
            <div class="col-sm-3 mb-4">
              <a href="{% url 'timeslots:reservation_form' area.id timeslot.slug %}" class="btn btn-lg btn-primary">Yes!</a>
            </div>
            <div class="col-sm-3 mb-4">
              <a href="/timeslots/{{ area.id }}/" class="btn btn-lg btn-secondary">back to calendar</a>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <h3>This Timeslot is not available.</h3>
      <br>
      <a href="/timeslots/{{ area.id }}/" class="btn btn-lg btn-secondary mb-4">back to calendar</a>
    {% endif %}

    {% if show_manager_options %}
      <hr>
      <h3>Manager Options</h3>
      <div class="card bg-light mb-4">
        <div class="card-header">Current Reservations</div>
        <div class="card-body">
          {% if timeslot.reservation_set.count > 0 %}
          <p class="mb-0">The follow members have reservations during this timeslot.</p>
          {% else %}
            <p>No one has reserved this timeslot.</p>
          {% endif %}
        </div>
        {% if timeslot.reservation_set.count > 0 %}
          <ul class="list-group list-group-flush">
            {% for reservation in timeslot.reservation_set.all %}
              <li class="list-group-item"><a href="mailto:{{ reservation.member.email }}">{{ reservation.member }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="card border-warning">
        <div class="card-header text-white bg-warning">Timeslot Status</div>
        <div class="card-body">
          <h5>Timeslot Status</h5>
          <p>This timeslot is <strong>{% if timeslot.is_closed_by_staff %}closed{% else %}open{% endif %}.</strong></p>

          <p>
            As the {{ area.name }} manager, you can close the shop during this
            timeslot. You might do this to schedule maintenance time or offer a
            class.
          </p>
          <a href="{% url 'timeslots:timeslot_close' area_id=area.id slug=timeslot.slug %}" class="card-link">Change status</a>
        </div>
      </div>
    {% endif %}

  </div>
  <div class="col-md-5 offset-md-1 mb-4">
    <div class="alert alert-info" role="alert">
      <h4>{{ area.name }} COVID-19 Policies</h4>
      <p>
        Until we determine it is safe, only {{ area.covid19_capacity }}
        pe{{ area.covid19_capacity|pluralize:"rson is,ople are" }} allowed to
        work in the {{ area.name }} at any given time.
      </p>
      <h5>WHEN IN THE SHOP: </h5>
      <p>
        <ul>
          <li><h6>Wear a Mask</h6></li>
            <li>Face coverings of any type are recommended to prevent the spread of germs and to help keep others safe. They are especially recommended when social distancing cannot be adequately maintained. </li>
          <li><h6>Wash Your Hands</h6></li>
            <li>Please wash your hands frequently. Sanitize them as you move around the shop with the hand sanitizer located throughout the shop. </li>
          <li><h6>Sanitize</h6></li>
            <li>Wipe down the part of equipment that gets touched (handles, buttons) before and after use. If the equipment is delicate, please use the correct  cleaning agent.</li>
            <li>Please only spray cleaner onto a paper-towel and then wipe down handles / buttons. DO NOT spray cleaner onto the equipment. This can damage motors and electrical components.</li>
          <li><h6>Please limit your work to the area that you have signed up for.</h6></li>
            <li>Obviously people will need to do things like use the restroom, wash their hands, or grab a few items from storage; however, please avoid working in other areas.</li>
          <li><h6>Posted Directions</h6></li>
          <li>Please take the time to read and follow signs which will give more specific instructions in each department. </li>
          <li><h6>Please follow the Health Departments recommendations https://www.health.state.mn.us/diseases/coronavirus/prevention.html and remain at least six feet away from other people at all times</h6></li>
        </ul>
      </p>
    </div>
  </div>
</div>
{% endblock %}
