{% extends 'signup/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Basic Information{% endblock %}

{% block header_text %}Basic Information{% endblock %}

{% block content %}
<p>
  As a member, you'll need an account on our membership system 
  so you can manage your contact information, membership details, and shop resources.
  Let's get that set up now.
</p>

<form method="post" novalidate>
  {% csrf_token %}
  {{ form | crispy }}
  <div class="form-group">
    <input type="submit" value="Next" class="btn btn-primary">
  </div>
</form>
{% endblock %}
