{% extends 'signup/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Dues{% endblock %}
{% block header_text %}Dues{% endblock %}

{% block content %}
<p>
  Our membership dues keep the lights on and the landlord off our backs.
  Monthly memberships are $55, and we have 6-month and 12-month plans
  that will save you money in the long run.
</p>


<ul class="list-group">
  <li class="list-group-item">
    <h5>$55 &mdash; Monthly Membership</h5>
    <p>This grants you 24/7 access to our workshop and all the wonders held within.</p>
  </li>
  <li class="list-group-item">
    <h5>$275 &mdash; 6-Month Membership</h5>
    <p>This is like getting one free month of membership per year.</p>
  </li>
  <li class="list-group-item">
    <h5>$550 &mdash; 12-month Membership</h5>
    <p>It's like getting two free months per year.</p>
  </li>
</ul>

<p class="mt-4">
  <strong>For new members there is a $20 processing fee charged when you
  sign up.</strong> This makes the first month’s charge $75 for a standard
  membership, and $295 for a 6 month membership. If your first membership
  signup is for a full year we waive the processing fee!
</p>

<form method="post" novalidate>
  {% csrf_token %}
  {{ form | crispy }}
  <div class="form-group">
    <input type="submit" value="Next" class="btn btn-primary">
  </div>
</form>
{% endblock %}
