{% extends 'signup/base.html' %}

{% block title %}
Welcome Aboard!
{% endblock %}

{% block header_text %}
Welcome Aboard!
{% endblock %}

{% block content %}
<p>
  It looks like we've got all the information we need from you. There's only
  two things left to do, but you can't do them in front of your computer.
</p>

<h5>1.	Get your key fob</h5>

<p>
  All members of Twin Cities Maker have a key fob that grants them access to the building.
  We will mail you a key fob as soon as we process this application.
  The key fob will be activated and you will be charged for your first month of dues once you attend new member orientation.
  All members of Twin Cities Maker have a keyfob that grants them access to

</p>

<h5>2.	Attend new member orientation</h5>

<p>
  We regularly hold orientation sessions for new members.
  Currently all of our orientations are virtual.
  You can find the next virtual new member orientation by following this link:
  <a href="https://go.tcmaker.org/newmember"> go.tcmaker.org/newmember </a>
</p>

<p><a class="btn btn-primary" href="https://tcmaker.org/">Back to Home Page</a></p>
{% endblock %}
