{% extends 'signup/base.html' %}
{% block title %}Membership Signup{% endblock %}

{% block header_text %}Membership Renewal{% endblock %}

{% block content %}
<p>
  If you've been a member of Twin Cities Maker in the past, we probably have
  your old membership information on file, making it a lot easier for both
  you and us to get your new membership going. Send an email to
  <a href="mailto:membership@tcmaker.org">membership@tcmaker.org</a> and we'll
  take it from there.
</p>
<a class="btn btn-primary" href="https://tcmaker.org/">Got it!</a>
{% endblock %}
